/* Author CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: auto !important;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: $body-font;
  background-color: $bg-color1;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
a {
  text-decoration: none;
}
input:focus,
textarea:focus,
select:focus,
button:focus,
.slick-slide {
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
a {
  padding: 0;
  margin: 0;
}
