//Start Font Family Using Body
$body-font:"Jost", sans-serif;
// End Font Family Using Body

// Start Font Family Using Heading
$heading-font:"Nunito", sans-serif;
// End Font Family Using Heading

// Start Template Color
$bg-color1:#121B1D;
$bg-color2:rgba(204, 255, 0, 0.5);
$bg-color3:#062E39;
$bg-color4:#5B5B61;
$bg-color5:#585858;
$bg-color6:#061316;
$text-color1:#CCDEFF;
$text-color2:#CCFF00;
$text-color3:#FFFFFF;
$text-color4:#1954ED;
$text-color5:#000000;
$text-color6:#FF4A3B;
$text-color7:#292930;
$text-color8:#031320;
$text-color9:#BCBCBC;
$text-color10:#3C3C45;
$text-color11:#3AD879;
$text-color12:#141414;
$text-color13:#F0F0F0;
$text-color14:#FFC107;

// End Template Color