.scroll-down {
    .header-sticky {
        transform: translate3d(0, -100%, 0);
        transition: 0.3s ease;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999999999;
    }
}
.scroll-up {
    .header-sticky {
        transition: 0.3s ease;
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-animation: 1s slideInDown;
        animation: 1s slideInDown;
        z-index: 999999999;
        -webkit-box-shadow: 61px 11px 278px 73px #0d6efd00;
        box-shadow: 61px 11px 278px 73px #0d6efd00;
        background-color: #121b1d;
    }
}
