// Start Hero Area 2
.hero-area-2 {
  position: relative;
  padding-top: 90px;
  padding-bottom: 130px;
  border-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 49.59%,
      rgba(255, 255, 255, 0.2) 100%
    )
    1;
  border-bottom: 1px solid;
  @media (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .hero-wrapper {
    .hero-inner-left {
      @media (max-width: 991px) {
        margin-bottom: 40px;
      }
      .hero-title {
        h2 {
          position: relative;
          @media (max-width: 1355px) {
            width: unset;
          }
          span {
            position: absolute;
            right: 66px;
            top: 60px;
            z-index: -1;
            @media (max-width: 450px) {
              display: none;
            }
            &.home-3-hero-text-shep {
              right: 20px;
            }
          }
          @media (max-width: 1199px) {
            font-size: 45px;
          }
          @media (max-width: 450px) {
            font-size: 35px;
          }
        }
        p {
          margin-top: 45px;
          font-weight: 400;
          line-height: 28px;
          @media (max-width: 1050px) {
            br {
              display: none;
            }
          }
        }
        .hero-info {
          display: flex;
          align-items: center;
          gap: 40px;
          margin-top: 58px;
          @media (max-width: 550px) {
            display: block;
          }
          .hero-info-btn {
            background-color: $text-color4;
            color: $text-color3;
            &.hero-info-btn-home-3 {
              background-color: $text-color6;
            }
            @media (max-width: 550px) {
              margin-bottom: 30px;
            }
            &:hover {
              color: $text-color5;
              span {
                svg {
                  path {
                    fill: $text-color5;
                  }
                }
              }
            }
            span {
              svg {
                path {
                  fill: $text-color3;
                }
              }
            }
          }
          .some-clients-view {
            display: flex;
            align-items: center;
            gap: 20px;
            @media (max-width: 550px) {
              margin-top: 40px;
            }
            a {
              &:hover {
                color: $text-color4;
              }
            }
          }
        }
      }
    }
  }
}
// End Hero Area 2

// Start Seo House Home 2
.seo-house-home-2 {
  position: relative;
  padding: 130px 20px;
  .seo-house-bg-shep-home-2 {
    position: absolute;
    bottom: 155px;
    right: 0;
  }
  @media (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .seo-house-wrapper {
    .seo-house-banner-img {
      img {
        @media (max-width: 991px) {
          margin: auto;
        }
      }
    }
    .seo-house-inner {
      @media (max-width: 991px) {
        margin-top: 35px;
      }
      h3 {
        color: $text-color1;
        font-style: normal;
        font-weight: 700;
        line-height: 55px;
        font-family: $heading-font;
        @media (max-width: 560px) {
          font-size: 35px;
        }
        @media (max-width: 1062px) {
          br {
            display: none;
          }
        }
        @media (max-width: 991px) {
          br {
            display: block;
          }
        }
        @media (max-width: 561px) {
          br {
            display: none;
          }
        }
        span {
          color: $text-color4;
        }
      }
      p {
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        color: $text-color1;
        font-family: $body-font;
        margin-top: 22px;
      }
      .seo-house-icon-wrapper {
        display: flex;
        align-items: center;
        margin-top: 47px;
        gap: 78px;
        @media (max-width: 1087px) {
          display: block;
        }
        .seo-house-icon-left,
        .seo-house-icon-right {
          display: flex;
          align-items: center;
          gap: 13px;
          @media (max-width: 1087px) {
            &.seo-house-icon-right {
              margin-top: 15px;
            }
          }
          span {
            font-style: normal;
            font-weight: 300;
            line-height: 28px;
            font-family: $body-font;
            color: $text-color1;
            @media (max-width: 1087px) {
              br {
                display: none;
              }
            }
          }
        }
      }
      .seo-house-quets {
        margin-top: 42px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.58);
        padding-bottom: 38px;
        p {
          font-style: normal;
          font-weight: 500;
          line-height: 26px;
          font-family: $body-font;
          color: $text-color1;
        }
      }
      .seo-house-director {
        display: flex;
        align-items: center;
        gap: 60px;
        margin-top: 25px;
        @media (max-width: 500px) {
          display: block;
        }
        .seo-house-director-img {
          display: flex;
          align-items: center;
          gap: 18px;
          @media (max-width: 500px) {
            margin-bottom: 15px;
          }
          .seo-house-director-name {
            h5 {
              font-style: normal;
              font-weight: 600;
              line-height: 26px;
              font-family: $heading-font;
              color: $text-color1;
              margin-bottom: 6px;
            }
            span {
              font-style: normal;
              font-weight: 400;
              line-height: 26px;
              font-family: $body-font;
              color: $text-color1;
            }
          }
        }
      }
    }
  }
}
// End Seo House Home 2

// Start Brand Logo Home 2
.brand-logo-area-home-2 {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  &.brand-logo-area-home-3 {
    .brand-logo-wrapper {
      .brand-logo-inner {
        a {
          &:hover {
            svg {
              path {
                fill: $text-color6;
              }
            }
          }
        }
      }
    }
  }
  &.services-area {
    .brand-logo-wrapper {
      .brand-logo-inner {
        a {
          &:hover {
            svg {
              path {
                fill: $text-color2;
              }
            }
          }
        }
      }
    }
  }
  .brand-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .brand-logo-inner {
      margin-bottom: 20px;
      a {
        &:hover {
          svg {
            path {
              fill: $text-color4;
            }
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
// End Brand Logo Home 2

// Start Video Popup Home 2
.video-popup-home-2 {
  position: relative;
  padding-top: 110px;
  @media (max-width: 991px) {
    padding-top: 70px;
  }
  .video-popup-wrapper {
    position: relative;
    overflow: hidden;
    .video-button {
      background: $text-color2;
      padding: 47px;
      width: 243px;
      height: 124px;
      position: absolute;
      right: 565px;
      bottom: 310px;
      @media (max-width: 1068px) {
        right: 483px;
        bottom: 165px;
      }
      @media (max-width: 767px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 235px;
        height: 120px;
      }
      a {
        display: flex;
        align-items: center;
        gap: 15px;
        .video-button-text {
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          color: $text-color5;
          font-family: $body-font;
        }
      }
    }
    .video-banner-text {
      background: $text-color4;
      padding: 110px 30px;
      width: 325px;
      height: 310px;
      position: absolute;
      bottom: 0;
      right: 240px;
      @media (max-width: 1068px) {
        padding: 30px 30px;
        height: auto;
        width: unset;
        right: 160px;
      }
      @media (max-width: 767px) {
        display: none;
      }
      h5 {
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $text-color1;
        font-family: $body-font;
      }
    }
  }
}
// End Video Popup Home 2

// Start Marketing Area Home 2
.marketing-area-home-2 {
  position: relative;
  padding-top: 130px;
  padding-left: 20px;
  padding-right: 20px;
  &.services-area {
    padding-bottom: 130px;
    .services-page-services-area-shep-1 {
      position: absolute;
      right: 0;
      top: -42%;
    }
    @media (max-width: 991px) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .marketing-wrapper {
      .nav-tabs {
        button {
          &.active {
            border-bottom: 1px dashed $text-color2;
          }
        }
      }
    }
    .marketing-inner {
      .marketing-item {
        .marketing-item-wrapper-1 {
          .marketing-text-inner {
            .marketing-list {
              h5 {
                color: $text-color2;
              }
              .marketing-list-wrapper {
                .marketing-point {
                  svg {
                    path {
                      fill: $text-color2;
                    }
                  }
                }
              }
            }
            .marketing-btn-home-2 {
              a {
                background-color: $text-color2;
                color: $text-color5;
                span {
                  svg {
                    path {
                      fill: $text-color5;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    padding-top: 70px;
  }
  .marketing-area-bg-shep-home-2 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .title {
    .main-title {
      @media (max-width: 532px) {
        h3 {
          br {
            display: none;
          }
        }
      }
    }
  }
  .marketing-wrapper {
    margin-top: 65px;
    nav {
      .nav-tabs {
        border-bottom: none;
        justify-content: space-between;
        button {
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          font-family: $body-font;
          color: $text-color1;
          background-color: transparent;
          border: none;
          outline: none;
          padding-bottom: 25px;
          padding-left: 0;
          padding-right: 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          &.active {
            background-color: transparent;
            color: $text-color1;
            border-bottom: 1px dashed $text-color4;
          }
        }
      }
    }
  }
  .marketing-inner {
    margin-top: 75px;
    .marketing-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 767px) {
        display: block;
      }
      .marketing-item-wrapper-1 {
        width: 44%;
        @media (max-width: 991px) {
          width: 50%;
        }
        @media (max-width: 767px) {
          width: 100%;
        }
        .marketing-text-inner {
          h4 {
            font-style: normal;
            font-weight: 700;
            line-height: 34px;
            color: $text-color1;
            font-family: $heading-font;
            margin-bottom: 18px;
          }
          p {
            font-family: $body-font;
            color: $text-color1;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
          }
          .marketing-list {
            margin-bottom: 44px;
            h5 {
              color: $text-color4;
              font-family: $heading-font;
              font-style: normal;
              font-weight: 700;
              line-height: 26px;
              margin-top: 26px;
              margin-bottom: 20px;
            }
            .marketing-list-wrapper {
              display: flex;
              align-items: center;
              justify-content: space-between;
              @media (max-width: 1178px) {
                display: block;
              }
              .marketing-point {
                display: flex;
                margin-bottom: 11px;
                gap: 10px;
                align-items: center;
              }
            }
          }
          .marketing-btn-home-2 {
            a {
              background-color: $text-color4;
              color: $text-color1;
              &:hover {
                color: $text-color5;
                span {
                  svg {
                    path {
                      fill: $text-color5;
                    }
                  }
                }
              }
              span {
                svg {
                  path {
                    fill: $text-color1;
                  }
                }
              }
            }
          }
        }
      }
      .marketing-item-wrapper-2 {
        width: 40%;
        @media (max-width: 767px) {
          width: 100%;
        }
        .markeing-banner-home-2 {
          overflow: hidden;
          @media (max-width: 767px) {
            margin-top: 65px;
            img {
              margin: auto;
            }
          }
        }
      }
    }
  }
}
// End Marketing Area Home 2

// Start Marque Area Home 2
.marque-area-home-2 {
  position: relative;
  padding-top: 130px;
  .marque-group-home-2 {
    display: flex;
    overflow: hidden;
    .marque-wrapper-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $text-color2;
      padding: 65px 0;
      gap: 60px;
      flex-shrink: 0;
      white-space: nowrap;
      max-width: max-content;
      transform: translateX(0);
      animation: scroll-1 300s linear infinite;
      &:hover {
        animation-play-state: paused;
      }
      span {
        text-transform: uppercase;
        color: $text-color5;
        font-family: $heading-font;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    .marque-wrapper-2 {
      display: flex;
      align-items: center;
      min-width: 100%;
      background-color: $text-color5;
      padding: 65px 0;
      gap: 60px;
      flex-shrink: 0;
      // white-space: nowrap;
      max-width: max-content;
      transform: translateX(0);
      animation: scroll-2 300s linear infinite;
      &:hover {
        animation-play-state: paused;
      }
      span {
        text-transform: uppercase;
        color: $text-color1;
        font-family: $heading-font;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
// End Marque Area Home 2

// Start Recent Work Home 2
.recent-work-home-2 {
  position: relative;
  padding-top: 130px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 185px;
  .title {
    .main-title {
      @media (max-width: 532px) {
        h3 {
          br {
            display: none;
          }
        }
      }
    }
  }
  .recent-work-bg-shep-home-2 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @media (max-width: 991px) {
    padding-top: 70px;
  }
  .recent-work-wrapper {
    margin-top: 73px;
    .recent-work-inner {
      position: relative;
      @media (max-width: 991px) {
        margin-bottom: 55px;
        &.recent-work-item-3 {
          margin-bottom: 0;
        }
      }
      .recent-work-img {
        overflow: hidden;
        @media (max-width: 991px) {
          img {
            margin: auto;
          }
        }
      }
      .recent-work-thumb {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        background-color: $text-color12;
        box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        position: absolute;
        bottom: -55px;
        width: 72%;
        @media (max-width: 450px) {
          padding: 35px 20px;
        }
        @media (max-width: 1350px) {
          width: 80%;
        }
        @media (max-width: 1199px) {
          width: 96%;
        }
        @media (max-width: 991px) {
          width: 55.5%;
          left: 50%;
          transform: translateX(-50%);
        }
        @media (max-width: 855px) {
          display: block;
        }
        @media (max-width: 767px) {
          width: 72%;
        }
        @media (max-width: 611px) {
          width: 90%;
        }
        .recent-work-text {
          h5 {
            a{
              font-style: normal;
              font-weight: 700;
              line-height: 34px;
              color: $text-color1;
              font-family: $heading-font;
              display: block;
              transition-timing-function: linear;
              transition-duration: 0.3s;
              @media (max-width: 767px) {
                text-align: center;
              }
            }
            &:hover{
              a{
                color: $text-color4;
              }
            }
          }
          p {
            color: $text-color4;
            font-family: $body-font;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            margin-top: 7px;
            @media (max-width: 767px) {
              text-align: center;
            }
          }
        }
        .project-view-btn{
          width: 50px;
          height: 50px;
          background-color: $text-color5;
          border-radius: 50%;
          text-align: center;
          line-height: 45px;
          display: block;
          transition-timing-function: linear;
          transition-duration: 0.3s;
          &:hover{
            background-color: $text-color4;
            svg{
              path{
                fill: $text-color1;
              }
            }
          }
          @media (max-width: 855px) {
            position: absolute;
            right: 15px;
            bottom: 15px;
          }
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }
}
// End Recent Work Home 2

// Start Faq Area Home 2
.faq-area-home-2 {
  position: relative;
  padding-top: 130px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 55px;
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 991px) {
    padding-top: 70px;
  }
  .title {
    .main-title {
      @media (max-width: 532px) {
        h3 {
          br {
            display: none;
          }
        }
      }
    }
  }
  .faq-wrapper {
    padding-top: 77px;
    .faq-banner {
      overflow: hidden;
      @media (max-width: 991px) {
        margin-bottom: 30px;
        img {
          margin: auto;
        }
      }
    }
  }
}
// End Faq Area Home 2

// Start Team Area Home 2
.team-area-home-2 {
  position: relative;
  padding-top: 130px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 130px;
  overflow: hidden;
  .team-area-bg-shep-1-home-2 {
    position: absolute;
    left: 0;
    top: 0;
  }
  .team-area-bg-shep-2-home-2 {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  @media (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  @media (max-width: 899px) {
    padding-bottom: 180px;
  }
  .team-title-arrow-flexing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 899px) {
      display: block;
      text-align: center;
    }
    p {
      text-align: left;
      @media (max-width: 899px) {
        text-align: center;
      }
    }
    .slider-team-home-2-btn {
      margin-right: 70px;
    }
  }
  .team-wrapper {
    padding-top: 77px;
  }
}
// End Team Area Home 2

// Start Subscribe Area Home 2
.subscribe-area-home-2 {
  position: relative;
  padding: 170px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 600px) {
    padding: 80px 20px;
  }
  img {
    position: absolute;
    @media (max-width: 600px) {
      display: none;
    }
    &.subscribe-shep-1-home-2 {
      left: 106px;
      bottom: 211px;
      @media (max-width: 1150px) {
        left: 10px;
        bottom: 135px;
      }
      @media (max-width: 818px) {
        bottom: 10px;
      }
    }
    &.subscribe-shep-2-home-2 {
      bottom: 55px;
      left: 33%;
    }
    &.subscribe-shep-3-home-2 {
      top: 45px;
      left: 19%;
    }
    &.subscribe-shep-4-home-2 {
      bottom: 30px;
      right: 25%;
    }
    &.subscribe-shep-7-home-2 {
      top: 100px;
      right: 128px;
      @media (max-width: 1150px) {
        top: 39px;
        right: 60px;
      }
    }
    &.subscribe-shep-6-home-2 {
      bottom: 135px;
      right: 16%;
    }
    &.subscribe-shep-5-home-2 {
      top: 95px;
      right: 25%;
    }
  }
  .subscribe-wrapper {
    form {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      margin-top: 47px;
      @media (max-width: 600px) {
        display: block;
      }
      input[type="text"] {
        padding: 20px 28px;
        border-radius: 4px;
        background-color: $bg-color4;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        text-transform: capitalize;
        color: $text-color1;
        font-family: $body-font;
        border: none;
        outline: none;
        width: 355px;
        @media (max-width: 600px) {
          width: 100%;
        }
        &::placeholder {
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          text-transform: capitalize;
          color: $text-color1;
          font-family: $body-font;
        }
      }
      input[type="submit"] {
        @media (max-width: 600px) {
          display: block;
          width: 100%;
          margin-top: 15px;
        }
      }
    }
  }
}
// End Subscribe Area Home 2

// Start Blog Area Home 2
.blog-area-home-2 {
  position: relative;
  padding-top: 130px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 130px;
  @media (max-width: 991px) {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .title-tab-flexing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1000px) {
      display: block;
    }
    .title {
      .main-title {
        text-align: left;
        @media (max-width: 1000px) {
          text-align: center;
        }
        @media (max-width: 532px) {
          h3 {
            br {
              display: none;
            }
          }
        }
      }
    }
    .nav-tabs {
      border: none;
      @media (max-width: 1000px) {
        margin-top: 30px;
        justify-content: center;
      }
      button {
        background-color: transparent;
        border: none;
        outline: none;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
        font-family: $body-font;
        color: $text-color1;
        &.nav-link {
          position: relative;
          &.active {
            background-color: transparent;
            border: none;
            color: $text-color1;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              height: 3px;
              background-color: $text-color4;
              width: 104px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
  .blog-wrapper {
    margin-top: 70px;
    span {
      display: block;
      margin-top: 25px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.32px;
      color: $text-color1;
      font-family: $body-font;
    }
    h5 {
      margin-top: 15px;
      a {
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        color: $text-color1;
        font-family: $heading-font;
        transition-timing-function: linear;
        transition-duration: 0.3s;
        &:hover {
          color: $text-color4;
        }
      }
      @media (max-width: 1200px) {
        br {
          display: none;
        }
      }
    }
    p {
      color: $text-color1;
      font-family: $body-font;
      margin-top: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      @media (max-width: 1200px) {
        br {
          display: none;
        }
      }
    }
    .blog-right-btn {
      a {
        width: 65px;
        height: 65px;
        background: transparent;
        display: block;
        text-align: center;
        border-radius: 50%;
        line-height: 65px;
        line-height: 60px;
        rotate: 135deg;
        border: 1px solid $text-color4;
        transition-timing-function: linear;
        transition-duration: 0.3s;
        @media (max-width: 767px) {
          margin: auto;
        }
        &:hover {
          background-color: $text-color4;
        }
      }
    }
    .blog-btn {
      margin-top: 7px;
      @media (max-width: 991px) {
        margin-top: 60px;
      }
      a {
        padding-right: 50px;
        padding-left: 50px;
        background-color: transparent;
        border: 1px solid $text-color4;
      }
    }
    .blog-right-btn {
      margin-top: 40px;
    }
    .blog-left-thumb,
    .blog-right-thumb {
      overflow: hidden;
      @media (max-width: 767px) {
        img {
          margin: auto;
        }
      }
    }
    @media (max-width: 991px) {
      .blog-right-inner {
        margin-top: 30px;
      }
    }
    @media (max-width: 767px) {
      .blog-right-info,
      .blog-info-left {
        text-align: center;
      }
    }
  }
}
// End Blog Area Home 2
