.team-inner {
  position: relative;
  overflow: hidden;
  &.team-inner-about-page {
    @media (max-width: 991px) {
      img {
        margin: auto;
      }
      &.team-inner-about-page-1,
      &.team-inner-about-page-2 {
        margin-bottom: 30px;
      }
    }
    @media (max-width: 767px) {
      &.team-inner-about-page-3 {
        margin-bottom: 30px;
      }
    }
    .team-social-media {
      .team-social-media-plus {
        &:hover {
          background-color: $text-color2;
          border-color: $text-color5;
          span {
            color: $text-color5;
          }
        }
      }
      ul {
        li {
          a {
            &:hover {
              i {
                color: $text-color2;
              }
            }
          }
        }
      }
    }
    .team-name-position {
      h6 {
        a{
          margin-top: 40px;
          font-style: normal;
          font-weight: 700;
          color: $text-color1;
          font-family: $heading-font;
          margin-bottom: 0;
          transition-timing-function: linear;
          transition-duration: 0.3s;
          display: block;
        }
        &:hover{
          a{
            color: $text-color2;
          }
        }
      }
      span {
        color: $text-color2;
      }
    }
  }
  .team-social-media {
    &:hover {
      ul {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        visibility: visible;
      }
    }
    .team-social-media-plus {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $bg-color1;
      border: 3px solid $text-color3;
      line-height: 45px;
      display: inline-block;
      text-align: center;
      position: absolute;
      bottom: 78px;
      right: 50%;
      left: 50%;
      transform: translateX(-50%);
      transition-timing-function: linear;
      transition-duration: 0.3s;
      &:hover {
        background-color: $text-color4;
      }
      span {
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        color: $text-color3;
        letter-spacing: -0.66px;
      }
    }
    ul {
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 20px 30px;
      background-color: $bg-color1;
      border-radius: 4px;
      bottom: 150px;
      position: absolute;
      left: -182px;
      opacity: 0;
      visibility: hidden;
      transition: 1s;
      li {
        a {
          &:hover {
            i {
              color: $text-color4;
            }
          }
          i {
            color: $text-color3;
            transition-timing-function: linear;
            transition-duration: 0.3s;
          }
        }
      }
    }
  }
  .team-name-position {
    text-align: center;
    h6 {
      a{
        margin-top: 40px;
        font-style: normal;
        font-weight: 700;
        color: $text-color1;
        font-family: $heading-font;
        margin-bottom: 0;
        transition-timing-function: linear;
        transition-duration: 0.3s;
        display: block;
      }
      &:hover{
        a{
          color: $text-color4;
        }
      }
    }
    span {
      color: $text-color13;
      font-family: $body-font;
      font-style: normal;
      font-weight: 400;
      margin-top: 11px;
      display: block;
    }
  }
}
